.container {
    display: grid; 
    height: 100vh;
    grid-template-columns: 1fr; 
    grid-template-rows: 100px 6fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "nav"
    "main"; 
  }
  
  .nav {
    grid-area: nav;
    /* z-index: 100; */
    background-color: white;
  }

  .main {
    grid-area: main;
    z-index: 0;
    background-color: white;
  }
  